{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <div id="top" class="header">
        <div class="logo">LOGO</div>
        <ul class="top-menu" ng-controller="TopMenuController as top">
            <li class=" top-menu-item "
                ng-repeat="component in top.components"
                ng-click="changeComponents($index)"
                ng-class="$index==getComponentIndex()?'active':''"
                    >
                <div class="top-menu-item-text"> {[{ component.name}]} </div>
            </li>

        </ul>
        <ul class="right-corner">
            <li class=" right-corner-item"><a class=" right-corner-item-link" href="{{ path('_security_logout') }} ">Logout</a></li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/app.js' output='js/app.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
