{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <div id="top" class="header">
        <div class="logo">LOGO</div>
        <ul class="top-menu" ng-controller="TopMenuController as top">
            <li class=" top-menu-item "
                ng-repeat="component in top.components"
                ng-click="changeComponents($index)"
                ng-class="$index==getComponentIndex()?'active':''"
                    >
                <div class="top-menu-item-text"> {[{ component.name}]} </div>
            </li>

        </ul>
        <ul class="right-corner">
            <li class=" right-corner-item">Logout</li>
        </ul>
    </div>
{% endblock %}
