{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <div id="top" class="header">
        <div class="logo">Logo</div>
    </div>
    <div class="content">
        <div class="main">
        Invoice Content
        </div>
    </div>
{% endblock %}

