<div class="client-list module-container">
	<div class="client-list-filter">
		<div class="control-search">
			<input class="control-search-input" type="text" ng-model="keyWord" ng-change="filter()">
			<div class="control-search-button">Search</div>
		</div>
	</div>
	<table class="client-list-table table-hover">
		<thead>
			<tr>
                <th>Active</th>
				<th>Client Name</th>
				<th>TeL</th>
				<th>Address</th>
                <th>District</th>
				<th>Frequency</th>
                <th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="client in clientListData" ng-click="clientListTmpl.viewClientDetail(client.clientId)">
                <td>{{client.isActive?'Yes':'No'}}</td>
                <td>{{client.clientName}}</td>
				<td>{{client.tel}}</td>
				<td>{{client.address}}</td>
                <td>{{client.district}}</td>
				<td>{{client.jobDetail.frequency}}</td>
                <td>{{client.price | currency:'USD$' }}</td>
			</tr>
		</tbody>
	</table>
</div>