<div class="invoice-list module-container">
	<div class="module-section">
		<div class="module-section-header">
			<span class="module-section-header-square">
			</span>
			<span class="module-section-header-title">
				Invoice
			</span>
		</div>
		<div class="module-section-body">
			<div class="row" style="padding:0 10px">
				<div style="float:left;font-size:30px;line-height:30px;">Jun 2015</div>
				<div style="float:right" class="btn-group">
					<label class="btn btn-default btn-sm" ><span style="font-size:15px; width:40px;" class="glyphicon glyphicon-chevron-left"></span></label>
					<label class="btn btn-default btn-sm" ><span style="font-size:15px; width:40px;" class="glyphicon glyphicon-chevron-right"></span></label>  
				</div>
			</div>
		</div>
		<table class="invoice-list-table">
			<thead>
				<tr>
                    <th>Sent</th>
					<th>Client Name</th>
                    <th>Invoice Title</th>
                    <th>Address</th>
                    <th>Suburb</th>
					<th>Service Date</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="invoiceInfo in invoiceListData"  ng-click="toggleSelect($index)" ng-class="{'selected':invoiceInfo.selected}">
                    <td>{[{invoiceInfo.status?'Yes':'No'}]}</td>
                    <td>{[{invoiceInfo.clientName}]}</td>
                    <td>{[{invoiceInfo.invoiceTitle}]}</td>
                    <td>{[{invoiceInfo.address}]}</td>
                    <td>{[{invoiceInfo.suburb}]}</td>
					<td>{[{invoiceInfo.serviceDate| date:'EEE, dd/MM/yyyy'}]}</td>
					<td>{[{invoiceInfo.price| currency:'AUD$' }]}</td>
				</tr>
			</tbody>
		</table>
	</div>
    <div class="row bottom-actions-section">
        <span class="bottom-action-button" ng-click="GenerateInvoice()">Generate Invoice</span>
        <span class="bottom-action-button" ng-click="openConfirmEmailPreviewer()">Reset</span>
    </div>
</div>