<!-- Job Details Section -->
<!-- Job Details Section -->
<!-- Job Details Section -->
<div class="module-section">
	<div class="module-section-header">
		<span class="module-section-header-square">
		</span>
		<span class="module-section-header-title">
			Job Details
		</span>
		<div class="module-section-button-group">
			<span ng-show="!editMode" class="module-section-button glyphicon glyphicon-edit" ng-click="editMode=true"></span>
			<span ng-show="editMode" class="module-section-button glyphicon glyphicon-ok" ng-click="submit()"></span>
		</div>
	</div>
	<div class="module-section-body">
		<div class="row form-row">
			<div class="col-xs-12 form-group">
				<label for="frequency" class="col-xs-2 form-control-label">Frequency</label>
				<div class="col-xs-4">
					<div ng-if="!editMode" name="frequency">{{jobDetail.frequency}}</div>
					<select ng-if="editMode" ng-model="jobDetail.frequency">
						<option value="weekly">weekly</option>
						<option value="twiceAWeek">twice a week</option>
						<option value="fortnightly">fortnightly</option>
						<option value="monthly">monthly</option>
						<option value="whenNeed">when need</option>
					</select>
				</div>					
			</div>
		</div>
		<div class="row form-row">
			<div class="col-xs-12 form-group">
				<label class="col-xs-2 form-control-label">Key</label>
				<div ng-if="!editMode" class="col-xs-10">
					<div ng-show="jobDetail.key.has==false">No key</div>
					<div ng-show="jobDetail.key.has==true">
					<div class="col-xs-12 form-control-pair-item">
					<label for="keyInfo-keeping" class="col-xs-2 form-control-label">Keeping</label>
						<div class="col-xs-1">
							<strong>-</strong>
						</div>
						<div class="col-xs-8">
							<div name="keyInfo-keeping">{{jobDetail.key.keeping}}</div>
						</div>
					</div>
					<div class="col-xs-12 form-control-pair-item">
						<label for="keyInfo-alarmIn" class="col-xs-2 form-control-label">Alarm In</label>
						<div class="col-xs-1">
							<strong>-</strong>
						</div>
						<div class="col-xs-8">
							<div name="keyInfo-alarmIn">{{jobDetail.key.alarmIn}}</div>
						</div>
					</div>
					<div class="col-xs-12 form-control-pair-item">
						<label for="keyInfo-alarmOut" class="col-xs-2 form-control-label">Alarm Out</label>
						<div class="col-xs-1">
							<strong>-</strong>
						</div>
						<div class="col-xs-8">
							<div name="keyInfo-alarmOut">{{jobDetail.key.alarmOut}}</div>
						</div>
					</div>
					</div>
				</div>
				<!--<div ng-if="editMode" class="col-xs-4 form-control-radios">
					<input type="radio" name="key" ng-model="jobDetail.key.has" class="form-control" value="No">No
					<input type="radio" name="key" ng-model="jobDetail.key.has" class="form-control" value="Yes">Yes
				</div>-->

                <div ng-if="editMode" class="col-xs-4 btn-group">
                    <label class="btn btn-default btn-xs" ng-class="{'btn-warning':jobDetail.key.has}" ng-model="jobDetail.key.has" btn-radio=true uncheckable>Yes</label>
                    <label class="btn btn-default btn-xs" ng-model="jobDetail.key.has" btn-radio=false uncheckable>No</label>
                </div>

				<div ng-if="editMode&&jobDetail.key.has==true" class="col-xs-6 form-group form-group-sub-divider">
					<div class="row" >
						<div class="col-xs-10 form-group-sub">
							<label for="keyKeeping" class="col-xs-4 form-control-label">Keeping</label>
							<div class="col-xs-8">
								<select name="keyKeeping" ng-model="jobDetail.key.keeping" class="form-control">
									<option value="keptByUs">kept by us</option>
									<option value="original">put back original place</option>
									<option value="kitchen">put back kitchen bench</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row" >						
						<div class="col-xs-10 form-group-sub">
							<label for="alarmIn" class="col-xs-4 form-control-label">Alarm In</label>
							<div class="col-xs-8">	
								<input type="text" name="alarmIn" class="form-control" ng-model="jobDetail.key.alarmIn" placeholder="HH:mm:ss">
							</div>
						</div>
					</div>
					<div class="row" >
						<div class="col-xs-10 form-group-sub">
							<label for="alarmOut" class="col-xs-4 form-control-label">Alarm Out</label>
							<div class="col-xs-8">	
								<input type="text" name="alarmOut" class="form-control" ng-model="jobDetail.key.alarmOut" placeholder="HH:mm:ss">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row form-row">
			<div class="col-xs-12 form-group">
				<label class="col-xs-2 form-control-label">Pets</label>
				<div ng-if="!editMode" class="col-xs-10">
					<div ng-show="jobDetail.pet.has==false">No pet</div>
					<div ng-show="jobDetail.pet.has==true" class="col-xs-12 form-control-pair-item">
						<label for="petsInfo-keeping" class="col-xs-2 form-control-label">Keeping</label>
						<div class="col-xs-1">
							<strong>-</strong>
						</div>
						<div class="col-xs-8">
							<div name="petsInfo-keeping">{{jobDetail.pet.keeping}}</div>
						</div>
					</div>
				</div>
                <div ng-if="editMode" class="col-xs-4 btn-group">
                    <label class="btn btn-default btn-xs" ng-class="{'btn-warning':jobDetail.pet.has}" ng-model="jobDetail.pet.has" btn-radio=true uncheckable>Yes</label>
                    <label class="btn btn-default btn-xs" ng-model="jobDetail.pet.has" btn-radio=false uncheckable>No</label>
                </div>
				<!--<div ng-if="editMode" class="col-xs-4 form-control-radios">
					<input type="radio" name="pets" ng-model="jobDetails.pets.hasPet" class="form-control" value="No">No
					<input type="radio" name="pets" ng-model="jobDetails.pets.hasPet" class="form-control" value="Yes">Yes
				</div>-->
				<div ng-if="editMode&&jobDetail.pet.has==true" class="col-xs-6 form-group form-group-sub-divider">
					<div class="row" >
						<div class="col-xs-10 form-group-sub">
							<label for="keyKeeping" class="col-xs-4 form-control-label">Keeping</label>
							<div class="col-xs-8">
								<select name="petsKeeping" ng-model="jobDetail.pet.keeping" class="form-control">
									<option value="doesNotMatter">doesn't matter</option>
									<option value="keptInDoor">kept in door</option>
									<option value="keptOutDoor">kept out door</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>								
		<div class="row form-row">
			<div class="col-xs-12 form-group">
				<label for="attention" class="col-xs-2 form-control-label">Attention</label>
				<div class="col-xs-9">
					<textarea ng-if="editMode" type="text" ng-model="jobDetail.attention" class="form-control" rows=3>{{jobDetails.attention}}</textarea>
					<div ng-if="!editMode" ng-model="jobDetail.attention" d-multiline ></div>
				</div>
			</div>								
		</div>
		<div class="row form-divider">
		</div>
		<!-- Items sub-section -->
		<!-- Items sub-section -->
		<!-- Items sub-section -->
		<div class="row module-subSection">
			<div class="module-subSection-header">
				<span class="module-subSection-header-square">
					Items&nbsp;&nbsp; 								
					<small> Total :</small> 19
				</span>									
				<span class="module-subSection-header-title">
					Special Request
				</span>
			</div>
			<div class="module-subSection-body">									
				<ul class="col-xs-12 job-item-list">
					<li class=" row job-item" ng-repeat="item in jobDetail.items" ng-click="jobDetailSection.curItemIndex=$index" ng-class="jobDetailSection.curItemIndex==$index?'active':''">
						<div class=" job-item-head">
							<span class=" job-item-head-name">{{item.name}}</span>
							<span class=" job-item-head-times">*</span>
							<span class="job-item-head-num">{{item.amount}}</span>
							<div ng-if="editMode" class="job-item-actions">
								<span class="job-item-action-button glyphicon glyphicon-edit" ng-click="openEditor($index)" ></span><span ng-click="deleteItem($index)" class="job-item-action-button glyphicon glyphicon-trash"></span>
							</div>
						</div>		
						<div class=" job-item-detail expanded">
							{{item.request}}
						</div>						
					</li>
					<li class=" row job-add-item-buton" ng-click="openEditor(-1)">
						Add New Item								
					</li>					
				</ul>
			</div>
		</div>
	</div>
</div>