* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
	/* font-family: "jaf-bernino-sans",
				"Lucida Grande",
				"Lucida Sans Unicode",
				"Lucida Sans",
				Geneva,
				Verdana,
				sans-serif; */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header{
	height:40px;
	background-color:#ffad33;
	line-height:40px;
	color:#feffff;
}
.logo{
	height:40px;
	width:120px;
	float:left;
	background-color:#ff9900;
	padding:0 10px;
	text-align:center;
}
.top-menu{
	margin:0;
	position:absolute;
	left:120px;
	top:0;
	list-style: none;	
}
.right-corner{
	margin:0;
	position:absolute;
	right:10px;
	top:0;
	list-style: none;
}

.top-menu-item,
.right-corner-item{
	display: inline-block;
	height:40px;
	padding:0 5px;
	cursor:pointer;
}
.top-menu-item:hover,
.top-menu-item.active{
	height:38px;
	margin-top:2px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.top-menu-item.active,
.top-menu-item.active:hover{
	background-color:#F5F5F5;
	color:#ffad33;
}
.top-menu-item:hover,
.right-corner-item:hover{
	background-color:#FEC46E;
}
.content{
	background-color:#ffffff;
	position: relative;
	margin:0;
}
.sider{
	width:120px;	
	float:left;
	background-color:#fff;
	height:100%;
	position:absolute;	
}
.sider-divider{
	width:100%;
	border-bottom:1px solid #FFAD33;
	margin:5px 0;
}
.sider-user-photo{
	width:80px;
	height:80px;
	background-color:#ffffff;
	margin:10px auto;
	border-radius: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.sider-user-photo-circle{
	display: block;
	background-position: center;
	margin: 0 auto;
	overflow: hidden;
	width: 77px;
	height: 77px;
	line-height: 0;
	background-size: cover;
	border-radius: 100%;
}
.sider-user-photo-image{
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background: #f0f0f0;
	cursor: pointer;
}
.sider-user-info{
	color:#878787;
	text-align:center;
	margin:0 auto;
}
.sider-user-info-name{
	line-height: 1;
	font-size:18px;
}
.sider-user-info-role{
	line-height:1.5;
	font-size:10px;
	font-weight:bold;
	text-align:center;
	color:#333;
}
.sider-actions{
	margin:0 auto;
	padding:0 10px;
	list-style: none;	
}
.sider-actions-item{
	display: block;
	height:25px;
	line-height:25px;
	margin:8px 0;
	padding:0 5px;
	cursor:pointer;
	text-align:center;
	font-size:14px;
	color:#ffad33;
	border:1px solid #ffad33;
	
}
.sider-actions-item-icon{
	float:left;
}
.sider-actions-item:hover{
	background-color:#F5F5F5;
}
.sider-actions-item.active,
.sider-actions-item.active:hover{
	background-color:#ffad33;
	color:#FAFAFA;
}

.main{
	margin-left:120px;
	background-color:#F5F5F5;
	min-height:415px;
}
.client-list{
	padding:20px;
}
.control-search{
	position: relative;
	display: table;
	border-collapse: separate;
}
.control-search-input{
	display:table-cell;
	line-height: 27px;
	height: 27px;
	padding:2px 5px;
	color:#555;
}
.control-search-button{
	vertical-align: middle;
	display:table-cell;
	line-height: 1.2em !important;
	height: 27px;
	padding:2px 5px;
	background-color:#cccccc;
	color:#FAFAFA;
	cursor:pointer;
}
.client-list-table{
	width:100%;
	max-width: 100%;
	font-size:12px;
	margin-top:10px;
}
.client-list-table .glyphicon{
	color:#FF5A33;
	cursor:pointer;
}
.client-list-table>thead{
	background-color:#ffad33;
	color:#FAFAFA;
}
.client-list-table>thead>tr>th{
	padding:4px 6px;
	font-weight: normal;
	border-right: 1px solid #FAFAFA;
}
.client-list-table>thead>tr>th:last-child{
	border-right: none;
}
.client-list-table>tbody{
	background-color:#FAFAFA;
}
.client-list-table>tbody>tr:nth-child(even){
	background-color:#F0F0F0;
}
.client-list-table>tbody>tr>td{
	padding:4px 6px;
	font-weight: normal;
	border-right: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	color:#333;
}
.client-list-table>tbody>tr>td:last-child{
	border-right: none;
}
.create-client{
	padding:10px  15px;
}
/*
**** Create Section ******
*/
.create-section{
	margin-bottom:15px;
}
.create-section-header{
	height:20px;
	background-color:#ffad33;
	color:#FAFAFA;
}
.create-section-header-square{
	height:20px;
	width:20px;
	background-color:#FF9900;
	float:left;
}
.create-section-header-title{
	padding:2px 5px;
	font-size:13px;
	line-height:20px;
}
.create-section-body{
	min-height:100px;
	background-color:#fff;
	padding:10px 15px;
	font-size: 12px;
}
/*
**** Create subSection ******
*/
.create-subSection{
	margin:0;
}
.create-subSection-header{
	height:20px;
	background-color:#fff;
	color:#FAFAFA;
	border:1px solid #ffad33;
}
.create-subSection-header-square{
	height:19px;
	width:150px;
	background-color:#ffad33;
	float:left;
	padding:0 3px;
	font-size:13px;
	line-height:20px;
}
.create-subSection-header-title{
	padding:2px 5px;
	font-size:13px;
	line-height:20px;
	color:#ffad33;	
}
.create-subSection-body{
	min-height:100px;
	background-color:#fff;
	padding:10px 15px;
	font-size: 12px;
}

.form-row{
	margin-bottom:10px;
}
.form-divider{
	border-bottom:1px solid #DADADA;
	margin:15px 0;
}
.form-control-label{
	font-size:11px;
	font-weight:bold;
	color: #333;
	line-height:1;
	padding-top:3px;
	padding-left:0;
	padding-right:0;
	text-align:right;
	float:left;
}
input.form-control[type=radio]{	
	margin:0 3px 0 12px;
}
.form-control-radios{
	vertical-align:top;
	margin-top:5px;
}
.form-control-rotation{
	margin-bottom:5px;	
}
.form-control-rotation>.form-control-label{
	font-weight:normal;	
}
.form-control-rotation>.form-control-label:before{
	content:"-";
	line-height:1;
	font-weight:bold;
	position:absolute;
	left:15px;
}
select.form-control,
textarea.form-control,
input.form-control[type=text]{
	width: 100%;
	height: auto;
	padding: 2px 3px;
	margin-left:-5px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius:2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select.form-control,
input.form-control[type=text]{
	height: 20px;	
}
.form-group{
	margin:0;
	padding:0;
}
.form-group-sub{
	margin-bottom:8px;
}
.form-group-sub-divider{
	border-left:1px solid #DADADA;
	margin:0 -10px 10px -10px;
}

.job-item-list{
	margin:0 auto;
	padding:0;
	list-style: none;	
}
.job-item{
	margin:0 0 5px 0;	
}
.job-item-head{
	border:1px solid #ffad33;
	line-height:30px;
	width:150px;
	height:30px;
	padding:0;
	float:left;
	position:relative;
	background-color:#F5F5F5;
	vertical-align:top;
	text-align:center;
	margin-right:5px;
	
}
.job-item-head-name{
	padding:0;
	width:90px;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
	display:inline-block;
	white-space: nowrap;
}
.job-item-head-times{
	display:inline-block;
	float:left;
	width:20px;
	height:29px;
	padding-top:5px;
	background-color:#ffad33;
	font-weight:bold;
	font-size:150%;
}
.job-item-head-num{
	display:inline-block;
	float:right;
	width:35px;
	padding:0;	
}
.job-item-actions{
	display:none;
	position:absolute;
	top:33px;
	left:3px;
}
.job-item-action-button{
	color:#ffad33;
	background-color:#fff;
	margin:0 3px;
	padding:5px 12px 3px 12px;
	font-size:14px;
	border:1px solid #ffad33;
	border-radius:3px;
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3);
	cursor:pointer;
	text-align:center;
}
.job-item-action-button:hover{
	background-color:#F5F5F5;
}
.job-item-detail{
	border:1px solid #ffad33;
	background-color:#F5F5F5;
	padding:0 3px;
	height:30px;	
	line-height:30px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.job-item.active  .job-item-actions{
	display:block;
}
.job-item.active .job-item-detail{
	height:auto;
	min-height:60px;
	white-space:normal;
}
.job-add-item-buton{
	margin:0 0 5px 0;
	color:#ffad33;
	background-color:#fff;
	padding:5px 12px 3px 12px;
	font-size:14px;
	border:1px solid #ffad33;
	border-radius:3px;
	cursor:pointer;
	text-align:center;
}
.job-add-item-buton:hover{
	background-color:#F5F5F5;
}
.bottom-actions-section{
	background-color:#fff;
	margin: 0;
}
.bottom-action-button{
	display:inline-block;
	background-color:#fff;
	text-align:center;
	width:45%;
	float:left;
	margin-left:3.333%;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px 12px 3px 12px;
	font-size:14px;
	border:1px solid #ffad33;
	border-radius:3px;
	cursor:pointer;
}
/*
.form-control-label{
	display:table-cell;
	width:90px;	
	font-size:12px;
	font-weight:bold;
	color: #333;
	line-height:1;
	text-align:right;
}
.form-control{
	display:table-cell;
	width: 100%;
	height: 25px;
	padding: 3px 6px;
	margin-left:15px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;	
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control-short{
	width: 70%;	
} */
.form-control-long{
	width: 200%;	
}

.footer{
	background-color:#ffad33;
	text-align:center;
	color:#FAFAFA;
}





















