<div class="client-detail module-container">
	<client-info-section-tmpl ng-model="clientDetail" data-edit-mode=false></client-info-section-tmpl>
	<job-detail-section-tmpl ng-model="clientDetail.jobDetails" data-edit-mode=false></job-detail-section-tmpl>				
	<payment-section-tmpl ng-model="clientDetail" data-edit-mode=false></payment-section-tmpl>
	<service-history-section-tmpl ng-model="clientDetail" data-edit-mode=false></service-history-section-tmpl>
	<comments-section-tmpl ng-model="clientDetail.comments"></comments-section-tmpl>				
</div>