<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Test PDF</title>
</head>
<body style="height:100px;width:100%;background-color:red">
<!--<img src="http://tieba.baidu.com/tb/cms/newmis/file_1431658513077.jpg" width=600px >-->
</body>
</html>