<div class="create-client module-container active">
	<client-info-section-tmpl ng-model="clientDetail" data-edit-mode="editMode"></client-info-section-tmpl>
	<job-detail-section-tmpl ng-model="clientDetail.jobDetails" data-edit-mode="editMode"></job-detail-section-tmpl>				
	<payment-section-tmpl ng-model="clientDetail" data-edit-mode="editMode"></payment-section-tmpl>									
	<div ng-if="editMode" class="row bottom-actions-section">
		<span class="bottom-action-button" ng-click="Create()">Create</span>
		<span class="bottom-action-button" ng-click="Reset()">Reset</span>
	</div>
	<div ng-if="!editMode" class="row bottom-actions-section">
		<span class="bottom-action-button-large" ng-click="Confirm()">Confirm</span>
	</div>
</div>